{{ define "main" }}

{{ partial "banner.html" . }}

{{ partial "navigation.html" . }}

{{ partial "about.html" . }}

{{ partial "feature.html" . }}

{{ partial "bricks.html" . }}

{{ partial "cv.html" . }}

{{ partial "stones.html" . }}

{{ partial "pubs.html" . }}

{{ partial "old.html" . }}

{{ partial "research.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "blog.html" . }}

{{ partial "bricks-2.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}
